// colors
$primary: #00704a;
$secondary: #01161e;
$accent: #731dd8;
$warn: #f2bb05;
$error: #d33f49;
$success: #1d7874;
$white: #f0f0c9;
$black: #0a0908;
$extra-light: #baa7b0;
$light-blue: #07beb8;
$light-green: #40f99b;
$light-khaki: #f0b67f;
$light-orange: #e6743a;

// fonts
$primary-font: 'Cardo', serif;
$secondary-font: 'Oswald', sans-serif;

// spacing
$gutter: 1rem;
