@import '../style/theme.scss';

.table-wrapper {
  .p-datatable-scrollable-wrapper {
    height: calc(100vh - 210px);
    overflow-y: scroll;
    background-color: $black;
    font-size: 0.8rem;
    tr {
      &.good-title {
        background-color: $success;
      }
      &.bad-title {
        background-color: $error;
      }
      &.warn-title {
        background-color: $warn;
        color: $black;
        font-weight: bold;
      }
      &.today {
        background-color: $accent;
      }
      td a {
        color: $accent;
        font-weight: bold;
        &:visited {
          color: $secondary;
        }
        &:hover {
          color: $light-orange;
        }
        &:active {
          color: $error;
        }
      }
    }
  }
}
