@import './style/theme.scss';

.main {
  .main-header {
    display: flex;
    .main-buttons {
      margin-right: 2rem;
      button {
        margin-right: $gutter;
      }
    }
    .main-stats {
      display: flex;
      div {
        font-weight: bold;
        font-family: $secondary-font;
        color: $light-khaki;
        font-size: 1.4rem;
        margin-right: 1rem;
      }
    }
  }
  .main-wrapper {
    display: flex;

    .playlist-table {
      padding: $gutter;
      width: 30%;
      min-width: 40rem;
    }
    .videos-table {
      padding: $gutter;
      width: 70%;
    }
  }
  @media screen and (max-width: 1280px) {
    .main-wrapper {
      flex-direction: column;
      .playlist-table,
      .videos-table {
        width: 100%;
      }
    }
  }
}
