@import './style/theme.scss';

.main {
  button {
    margin-right: $gutter;
  }
  .main-wrapper {
    display: flex;

    .playlist-table {
      padding: $gutter;
      width: 30%;
      min-width: 40rem;
    }
    .videos-table {
      padding: $gutter;
      width: 70%;
    }
  }
  @media screen and (max-width: 1280px) {
    .main-wrapper {
      flex-direction: column;
      .playlist-table,
      .videos-table {
        width: 100%;
      }
    }
  }
}
